<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/}">Back to homepage</a>
<h1>Province list</h1>
<table>
    <tr>
        <td>Province</td>
        <td>Customer list</td>
    </tr>
    <th:block th:each="province: ${provinces}">
        <tr>
            <td th:text="${province.getName()}"></td>
            <td><a th:href="@{/view-provinces/__${province.getId()}__}">View</a></td>
        </tr>
    </th:block>

</table>
</body>
</html>